.Container {
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Arial";
    -fx-font-size: 14pt;
    -fx-spacing: 16;
    -fx-alignment: CENTER;
}


.Subject {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-fill: #000000;
    -fx-stroke: gold;
}


.Button {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-pref-width: 250;
}
